label live-default
    menu label ^1. Eloquence GNU/Linux (Live Desktop Session)
    menu default
    linux /live/vmlinuz
    initrd /live/initrd.img
    append boot=live components quiet splash live-config.username=eloquence live-config.user-default-groups=sudo,video,audio,netdev,nopasswdlogin

label live-calamares
    menu label ^2. Install Eloquence GNU/Linux (Direct Calamares GUI Installer)
    linux /live/vmlinuz
    initrd /live/initrd.img
    append boot=live components quiet splash live-config.username=eloquence live-config.user-default-groups=sudo,video,audio,netdev,nopasswdlogin eloquence.autostart=calamares

label live-failsafe
    menu label ^3. Eloquence GNU/Linux (Fail-safe / Safe Graphics Mode)
    linux /live/vmlinuz
    initrd /live/initrd.img
    append boot=live components nomodeset noapic noapm nodma nopcmcia nosmp nomce live-config.username=eloquence

label live-toram
    menu label ^4. Eloquence GNU/Linux (Copy to RAM Mode)
    linux /live/vmlinuz
    initrd /live/initrd.img
    append boot=live components toram quiet splash live-config.username=eloquence
