[Desktop Entry]
Name=Elotweak System & Themes
Comment=Switch Light/Dark themes and power performance profiles on Eloquence GNU/Linux
Exec=elo tweak
Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;Qt;
Keywords=theme;dark;light;tweak;wallpaper;eloquence;
