[Desktop Entry]
Name=Install Eloquence GNU/Linux
GenericName=System Installer
Comment=Install Eloquence GNU/Linux Linux permanently onto your disk
Exec=sudo -E calamares
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
