[Desktop Entry]
Name=Welcome to Eloquence
Comment=Eloquence GNU/Linux First-Run Welcome Experience
Exec=elo welcome
Icon=/usr/share/pixmaps/eloquence-logo.png
Terminal=false
Type=Application
Categories=Settings;System;Qt;
Keywords=welcome;firstrun;eloquence;setup;
