[Desktop Entry]
Name=Install Eloquence GNU/Linux
GenericName=System Installer
Comment=Install Eloquence GNU/Linux permanently onto your disk via Calamares
Exec=sudo -E calamares
Icon=/usr/share/pixmaps/eloquence-logo.png
Terminal=false
Type=Application
Categories=System;
OnlyShowIn=X-Live;
